ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
moduleTitle()
  height $titleHeight
  line-height $titleHeight
  background-color $titleBgColor
  padding-left .2rem
  color #666
